@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.App {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  color: black;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.main-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  gap: 1em;
}

.task-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}

.task-item input {
  margin-right: 5px;
}

.task-item p {
  margin-right: 5px;
}

.task-item p.strikeThrough {
  text-decoration: line-through;
}

.add-form {
  display: grid;
  grid-template-columns: auto auto;
}
